@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin:0; 
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(240, 199, 103);
    backdrop-filter: blur(10px);
    z-index: 100;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    width: 100vw;
    height: 80vh;
    background-color:rgb(244, 222, 170);
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.inicio {
    display: flex;
    width: 50%;
    justify-content: space-around;
}


.inicio li {
    list-style: none;
}

.inicio a {
    color: #191919;
    text-decoration: none;
    

}

.divider {
    height: 4px;
    width: 60px;
    background-color:crimson;
    margin-top: 10px;
    margin-bottom: 3em;
}

main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

span{
    color:rgb(205, 13, 13)
}


.about {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 2em;
}

.about-info h2 {
    font-size: 2em;
}

.divider {
    height: 4px;
    width: 60px;
    background-color:crimson;
    margin-top: 10px;
    margin-bottom: 3em;
}

.about p {
    margin-bottom: 1em;
}

.actualidad {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
    background-color: rgb(244, 222, 170);
}

.actualidad img{
    width: 100%;
    grid-column: 1/5;
}

.actualidad-info {
    grid-column: 5/10;
    padding: 2em;
}

.divider {
    height: 4px;
    width: 60px;
    background-color:crimson;
    margin-top: 10px;
    margin-bottom: 3em;
}

.actualidad-info h2 {
    font-size: 2em;
    color:#191919
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 200px;
    

}

.footer-content h2{
    font-size: 1.5em;
}